.header {
    height: 100%;
}
.ad-box {
    padding-top: 100px;
    padding-bottom: 129px;
}
.content-box {
    padding: 0;
    border: none;
    background-color: rgba(20, 20, 20, 0.6);
    color: #fff;
    width: 26vw;
}
.content-box img {
    width: 100%;
}
.ad-box h1{
    color: #fff;
    border-bottom: 6px solid #fff;
}
@media screen and (max-width: 768px)  {
    .content-box {
        display: block;
        width: 100%;
        margin-bottom: 150px;
        padding: 40px 0;
    }
    .ad-box {
        padding-top: 180px;
    }
}
