
.header {
  height: 100%;
}
.outer-header {
  max-width: 90%;
  margin-top: 10%;
}
.outer-header__avatar {
  width: 200px;
}
.outer-header h1, .outer-header h2, .outer-header p{
  color: #fff;
}
.about--box_interested img {
  height: 200px;
  width: 200px;
}
@media screen and (max-width: 1024px)  {
  .outer-header {
    margin-top: 30%;
  }
  .header {
    height: 120vh;
  }
}
