@import  'https://fonts.googleapis.com/css?family=Open+Sans:300,400';

html {
    background-color: #eee;
}

* {
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 300;
}

#browserWarning {
    display: none;
    position: fixed;
    height: 40px;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #000;
}

.logo {
    position: absolute;
    background: url(../logo/icon.png) no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    top: 25px;
    left: 30px;
    -webkit-transition: transform 200ms cubic-bezier(.04,.34,.15,1);
    -moz-transition: transform 200ms cubic-bezier(.04,.34,.15,1);
    -ms-transition: transform 200ms cubic-bezier(.04,.34,.15,1);
    -o-transition: transform 200ms cubic-bezier(.04,.34,.15,1);
    transition: transform 200ms cubic-bezier(.04,.34,.15,1);
}

.title {
    position: absolute;
    top: 15px;
    left: 85px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Open Sans',sans-serif;
    text-align: left;
}

.ad-box {
    height: auto;
    width: 100%;
    text-align: center;
    background-color: transparent;
    font-weight: 700;
    font-size: 20pt;
    color: #141414;
    padding: 40px 0;
}

.ad-box--title {
    margin: 0 auto;
    margin-bottom: 40px;
    width: 30%;
}

.ad-box--title h1 {
    border-bottom: 6px solid #141414;
    margin-bottom: 10px;
}

.content-box {
    display: inline-block;
    height: 68vh;
    width: 19vw;
    margin: 20px 40px;
    color: #141414;
    border-radius: 2px;
    border: 6px solid #141414;
    padding: 20px 25px;
    box-shadow: 0 4px 6px 1px rgba(0,0,0,0.4);
}

.content-box img {
    width: 16vw;
}

.fa {
    color: #fff;
}

.header {
    background: url(https://i.imgur.com/vUdmMF9.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-top: -80px;
}
.content {
    z-index: 2;
}
.nav {
    background-color: rgba(20, 20, 20, 0.6);
    height: 80px;
    width: 100%;
    z-index: 1;
    position: relative;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    float: right;
}

.nav-links li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 28px 30px;
    text-decoration: none;
    transition: .3s;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Open Sans',sans-serif;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.nav-links li a:hover {
    color: #00b4ff;
    margin-top: 2px;
}
.button {
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    -webkit-box-shadow: 0 1px 6px #141414;
    -moz-box-shadow: 0 1px 6px #141414;
    box-shadow: 0 1px 6px #141414;
    color: #fff;
    font-size: 20px;
    border: 6px solid #fff;
    padding: 20px;
    text-decoration: none;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    background-color: rgba(20, 20, 20, 0.6);
}

.button:hover {
    -webkit-box-shadow: 0 5px 6px #141414;
    -moz-box-shadow: 0 5px 6px #141414;
    box-shadow: 0 5px 6px #141414;
    text-decoration: none;
    padding: 26px;
    font-size: 24px;
    background-color: #00b4ff;
}

.footer {
    height: 82px;
    background-color: #141414;
    width: 100%;
    padding: 0;
    position: relative;
}

.copyright {
    position: absolute;
    top: 30px;
    left: 85px;
    color: #fff;
}

.link-logo {
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    display: inline-block;
    margin: 20px 30px 0 10px;
    float: right;
    -webkit-transition: transform 200ms cubic-bezier(.04,.34,.15,1);
    -moz-transition: transform 200ms cubic-bezier(.04,.34,.15,1);
    -ms-transition: transform 200ms cubic-bezier(.04,.34,.15,1);
    -o-transition: transform 200ms cubic-bezier(.04,.34,.15,1);
    transition: transform 200ms cubic-bezier(.04,.34,.15,1);
}

.footer-link {
    right: 0;
    position: absolute;
}

.link-logo:hover,.logo:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.headercontent,a {
    text-align: center;
    padding-top: 15%;
    color: #fff;
    font-size: 25px;
    text-decoration: none;
}

.headercontent p {
    font-size: 30px;
    font-style: italic;
}

.outer-header {
    max-width: 27vw;
    min-width: 230px;
    margin: 0 auto;
    margin-bottom: 15vh;
    padding: 1vh 2vw;
    border: 6px solid #fff;
    background-color: rgba(20, 20, 20, 0.6);
    box-shadow: 0 4px 6px 1px rgba(0,0,0,0.4);
}
.outer-header p:nth-child(3) {
    font-size: 10px;
}
.youtube {
    background-image: url(../logo/YouTube_light_color_icon.png);
}

.github {
    background-image: url(../logo/GitHub-Mark-Light-120px-plus.png);
}

.dribble {
    background-image: url(../logo/dribbble-ball-mark.png);
}

.twitter {
    background-image: url(../logo/Twitter_Logo_White_On_Image.png);
}

.codepen {
    background-image: url(../logo/Button-White-Large.png);
}
.mobile-button {
    display: none;
    padding: 20px;
    height: 40px;
    width: 40px;
    float: right;
    clear: both;
}
@media screen and (max-width: 1024px)  {
    .responsive {
        position: absolute;
        background: rgba(20, 20, 20, 0.6);
        top: 80px;
        display: inline-block !important;
        text-align: left;
        box-sizing: border-box;
        overflow: hidden;
        width: 100%;
        border-top: 2px solid #fff;

    }
    .nav {
        position: fixed;
        top: 0px;
    }
    .nav-links {
        display: none;
    }
    .mobile-button {
        display: inline-block;
    }
    .responsive li {
        float: none;
        display: inline;
      }
      .responsive li a {
        display: block;
        text-align: left;
        border-bottom: 2px solid #fff;
        }
        .headercontent {
            padding-top: 25vh;
        }
        .title-bottom {
            display: none;
        }
        .content-box {
            margin: 0;
            width: auto;
            height: auto;
            border: none;
            box-shadow: none;
        }
        .content-box img {
            width: 80vw;
        }
        .header {
            height: 109vh;
        }
}
