.header {
    height: 100% !important;
}
.outer-header {
    max-width: 100%;
    margin-top: 40px;
    height: 30vh;
}
.other--box img {
    height: 30vh;
    position: absolute;
    left: 14px;
    border-right: 6px solid #fff;
    padding-right: 20px;;
}
.other--box__desc {
    width: 50%;
    float: right;
    color: #fff;
}
.other--box__desc a {
    margin-top: 40px;
    position: absolute;
    left: 69%;
    padding: 0;
}
.other--box__button {
    -webkit-box-shadow: 0 1px 6px #141414;
    -moz-box-shadow: 0 1px 6px #141414;
    box-shadow: 0 1px 6px #141414;
    color: #fff;
    font-size: 20px;
    border: 6px solid #fff;
    padding: 20px;
    text-decoration: none;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    background-color: rgba(20, 20, 20, 0.6);
}
.other--box__button:hover {
    -webkit-box-shadow: 0 5px 6px #141414;
    -moz-box-shadow: 0 5px 6px #141414;
    box-shadow: 0 5px 6px #141414;
    text-decoration: none;
    padding: 26px;
    font-size: 24px;
    background-color: #00b4ff;
}
@media screen and (max-width: 1024px)  {
  .outer-header {
      height: 70vh;
      border: none;
      margin-top: 120px;
  }
  .other--box__desc {
      width: 100%;
      margin-top: 300px;
  }
  .other--box img {
      border: none;
      padding: 0;
      width: 100%;
      left: 0;
      right: 0;
      width: 530px;
  }
}
