.header {
  height: 100% !important;
}
.outer-header {
  max-width: 90%;
  margin-top: 10%;
}
.outer-header__avatar {
  width: 200px;
}
.outer-header h1, .outer-header h2, .outer-header p{
  color: #fff;
}
.about--box {
  display: inline-flex;
}
.about--box_interested {
  width: 30%;
  display: inline-block;
}
.about--box_interested img {
  height: 200px;
  width: 200px;
  margin-top: 5%;
}
div.outer-header:nth-child(2) {
  max-width: 20%;
  max-height: 20%;
}
@media screen and (max-width: 1024px)  {
  .outer-header {
    margin-top: 30%;
  }
  .header {
    height: 120vh;
  }
  .about--box {
    display: block;
  }
  .about--box_interested {
    display: block;
    width: 100%;
  }
}
