.header {
    height: 100% !important;
}

.outer-header {
    padding: 20px;
    max-width: 90%;
    margin-top: 80px;
    border: none;
}

.outer-header__avatar {
    width: 200px;
}

.outer-header h1,.outer-header h2,.outer-header p {
    color: #fff;
}

.about--box_interested {
    margin: 0 5px;
    margin-bottom: 80px;
    padding: 5px;
    border: none;
    background-color: rgba(20,20,20,0.6);
    box-shadow: 0 4px 6px 1px rgba(0,0,0,0.4);
    width: 20vw;
}

.about--box_interested img {
    height: 20vw;
    width: 20vw;
    max-width: 200px;
    max-height: 200px;
    margin-top: 5%;
}

div.outer-header:nth-child(2) {
    max-width: 20%;
    max-height: 20%;
    margin: 0 auto;
}

div.outer-header:nth-child(3) {
    margin: 40px auto;
}

@media screen and (max-width: 768px) {
    .outer-header {
        margin-top: 150px;
    }

    .header {
        height: 120vh;
    }

    .about--box {
        display: block;
    }

    .about--box_interested {
        display: block;
        margin: 0 0 40px;
        width: 97%;
    }
}
