@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);
* {
    box-sizing: border-box;
}

body {
    background: url(https://i.imgur.com/qnVSFfp.jpg) no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

a {
    color: #00b4ff;
    text-decoration: none;
}

a:focus, a:hover {
    text-decoration: underline;
}

.main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    outline: 0;
    border: 0;
    font: inherit;
}

.login input {
    width: 100%;
    transition: background-color 0.4s;
}

.login_login {
    color: #FAFAFA;
}

.login_login label, .login_login input[type="text"], .login_login input[type="password"], .login_login input[type="submit"] {
    border-radius: 6px;
    padding: 1rem;
}

.login_contain {
    margin: 0 auto;
    width: 40rem;
    padding: 6rem;
    background-color: #EEEEEE;
}

.login_signup {
    color: #212121;
    text-align: center;
}

.login_field {
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
}

.login_field input[type="text"], .login_field input[type="password"] {
    background-color: #E0E0E0;
}

.login_field input[type="text"]:focus, .login_field input[type="text"]:hover, .login_field input[type="password"]:focus, .login_field input[type="password"]:hover {
    background-color: #BDBDBD;
}

.login_field input[type="submit"] {
    background-color: #00b4ff;
    color: #FAFAFA;
    font-weight: bold;
    text-transform: uppercase;
    width: 10rem;
}

.login_field input[type="submit"]:focus, .login_field input[type="submit"]:hover {
    background-color: #008fcc;
    cursor: pointer;
}
