@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
    font-family: sans-serif;
    /* 1 */
    line-height: 1.15;
    /* 2 */
    -ms-text-size-adjust: 100%;
    /* 3 */
    -webkit-text-size-adjust: 100%;
    /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
    margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
    display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
    display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
    margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
    display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre, code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
    background-color: transparent;
    /* 1 */
    -webkit-text-decoration-skip: objects;
    /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
    outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
    font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
    font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
    font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
    background-color: #ff0;
    color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
    display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
    border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
    overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * Known issues:
 * - `select`:
 *   By default, Chrome on OS X and Safari on OS X allow very limited styling of
 *   select, unless a border property is set. The default font weight on
 *   optgroup elements cannot safely be changed in Chrome on OSX and Safari on
 *   OS X.
 * - `[type="checkbox"]`:
 *   It is recommended that you do not style checkbox and radio inputs as
 *   Firefox's implementation does not respect box-sizing, padding, or width.
 * - `[type="number"]`:
 *   Certain font size values applied to number inputs cause the cursor style of
 *   the decrement button to change from `default` to `text`.
 * - `[type="search"]`:
 *   The search input is not fully stylable by default. In Chrome and Safari on
 *   OSX/iOS you can't control `font`, `padding`, `border`, or `background`. In
 *   Chrome and Safari on Windows you can't control `border` properly. It will
 *   apply `border-width` but will only show a border color (which cannot be
 *   controlled) for the outer 1px of that border. Applying
 *   `-webkit-appearance: textfield` addresses these issues without removing the
 *   benefits of search inputs (e.g. showing past searches). Safari (but not
 *   Chrome) will clip the cancel button on when it has padding (and `textfield`
 *   appearance).
 * - `::placeholder`:
 *   In Edge, placeholders will disappear on `relative` or `absolute` positioned
 *   `<input>` elements if you use `opacity` less than `1` due to a
 *   [bug](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/3901363/).
 */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
    line-height: 1.15;
    /* 1 */
    font-family: sans-serif;
    /* 1 */
    font-size: 100%;
    /* 1 */
    margin: 0;
    /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
    /* 1 */
    text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    /**
   * Remove the inner border and padding in Firefox.
   */
    /**
   * Restore the focus styles unset by the previous rule.
   */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
    overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
    /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
    box-sizing: border-box;
    /* 1 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    color: inherit;
    /* 2 */
    white-space: normal;
    /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
    overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
    display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
    display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
    display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
    display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
    display: none;
}

.nav-header {
    width: 100%;
    height: 72px;
    padding: 0 16px;
    display: flex;
    box-sizing: border-box;
    z-index: 1;
    background-color: #1f1f1f;
    justify-content: space-between;
}

.nav-header .logo {
    width: 56px;
    height: 56px;
}

.nav-header .logo img {
    height: 100%;
    width: auto;
    padding: 17px 0;
    box-sizing: border-box;
    user-drag: none;
    user-select: none;
}

.nav-header nav .list {
    list-style-type: none;
    margin: 0;
}

.nav-header nav .list-right {
    flex-direction: row;
    display: flex;
    height: 56px;
}

.nav-header nav .list li {
    margin: 0;
}

.nav-header nav .list li a {
    text-decoration: none;
    flex-direction: row;
    display: flex;
    transition: all ease .3s;
    color: #ffffff;
}

.nav-header nav .list li a:hover {
    background-color: rgba(150, 150, 150, 0.2);
}

.nav-header nav .list li a i {
    padding: 16px 12px;
}

.nav-header nav .list li a span {
    text-transform: uppercase;
    font-weight: 500;
    padding-right: 12px;
    line-height: 56px;
}

.navToggle {
    width: auto;
    height: 56px;
    transition-duration: 0.5s;
    padding: 0 35px;
    margin: auto 0;
    position: absolute;
    box-sizing: border-box;
    border: none;
    background: transparent;
}

.navToggle .icon {
    transition-duration: 0.25s;
    width: 25px;
    height: 2px;
    top: 27px;
    left: 20px;
    position: absolute;
    background-color: #ffffff;
}

.navToggle:before, .navToggle:after {
    transition-duration: 0.25s;
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #ffffff;
    content: "";
}

.navToggle:before {
    top: 20px;
    left: 20px;
}

.navToggle:after {
    top: 34px;
    left: 20px;
}

.navToggle:hover {
    cursor: pointer;
}

.navToggle.open:after {
    transform: rotate(45deg);
    will-change: transform;
    top: 27px;
}

.navToggle.open:before {
    transform: rotate(-45deg);
    will-change: transform;
    top: 27px;
}

.navToggle.open .icon {
    display: none;
}

.nav-content-fix {
    padding-top: 56px;
}

html {
    background-color: #212121;
}

body {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.btn {
    padding: 8px 16px;
    border: 0;
    border-radius: 2px;
    background-color: #fff;
    transition: background-color .3s ease;
    font-size: 14px;
    font-weight: 600;
    color: #4285f4;
    height: 36px;
    text-transform: uppercase;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #ffffff;
}

#back-to-top {
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    right: 20px;
    display: none;
}

#back-to-top a {
    display: block;
    width: 40px;
    height: 40px;
    background: #00b4ff url(img/backtotop.png) no-repeat center center;
    font-size: 0;
    border-radius: 50%;
    transition: all ease .3s;
}

#back-to-top a:hover {
    opacity: .6;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.wrap-container {
    display: flex;
    flex-direction: column;
}

.wrap-container .content {
    flex-direction: column;
}

.wrap-container .content .header {
    background-color: #1976D2;
    display: flex;
    height: 100vh;
    color: #fff;
}

.wrap-container .content .header .header-column__1 {
    max-width: 480px;
    min-width: 480px;
    background-color: #2196F3;
    height: 100%;
    flex: 1;
    padding: 0 80px 0;
    box-sizing: border-box;
}

.wrap-container .content .header .header-column__2 {
    width: 100%;
    background-color: transparent;
    height: calc(200vh - 72px);
    margin: 20px;
}

.wrap-container .content .header .header-column__2 .header-column__img {
    position: sticky;
    top: 72px;
    margin-bottom: 260px;
    height: 56vh;
    width: auto;
}

.wrap-container .content .header .header-column__info {
    margin-top: 48px;
    height: 100%;
}

.wrap-container .content .header .header-column__info .header-column__head {
    font-size: 34px;
    margin: 0 18px 40px 0;
}

.wrap-container .content .header .header-column__info .header-column__subhead {
    color: rgba(255, 255, 255, 0.7);
    font: 400 15px/24px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    padding: 0 10px 24px 0;
    margin-right: 18px;
}

.wrap-container .content .row {
    display: flex;
    background-color: black;
    height: calc(100vh - 72px);
    flex-direction: row;
    color: #fff;
}

.wrap-container .content .row-reverse {
    flex-direction: row-reverse;
}

.wrap-container .content .row .column-1 {
    max-width: 480px;
    min-width: 480px;
    background-color: #212121;
    height: 100%;
    flex: 1;
    padding: 0 80px 0;
    box-sizing: border-box;
}

.wrap-container .content .row .column-1 .column-info {
    margin-top: 48px;
    height: 100%;
}

.wrap-container .content .row .column-1 .column-head {
    font-size: 34px;
    margin: 0 18px 40px 0;
}

.wrap-container .content .row .column-1 .column-subhead {
    color: rgba(255, 255, 255, 0.7);
    font: 400 15px/24px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    padding: 0 10px 24px 0;
    margin-right: 18px;
}

.wrap-container .content .row .column-2 {
    max-width: 100%;
    background-color: #212121;
    height: 100%;
    flex: 1;
    padding: 0 80px 0;
    box-sizing: border-box;
}

.wrap-container .content .row .column-2 img {
    width: 100%;
}

.divider {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 48px 0 24px;
}

footer {
    height: 300px;
    background-color: #1f1f1f;
    display: flex;
    color: #ffffff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer .footer h2 {
    font-size: 30px;
    color: #ffffff;
}

footer .footer .footer-link_row {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-around;
    margin-bottom: 2rem;
}

footer .footer .footer-link_row span {
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    display: flex;
    transition: all .3s ease-in-out;
}

footer .footer .footer-link_row span:hover {
    transform: scale(1.2);
    will-change: transform;
}

/* Larger than mobile */
@media (max-width: 750px) {
    .nav-header {
        flex-direction: column;
        padding: 0;
    }
    .nav-header nav .list {
        flex-direction: column;
        display: none;
    }
    .nav-header nav .list.open {
        height: auto;
        display: flex;
        padding: 0;
    }
    .nav-header .logo {
        justify-content: center;
        align-self: center;
        align-items: center;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    .nav-header {
        height: 112px;
        flex-direction: column;
        padding: 0;
    }
    .nav-header nav .list {
        flex-direction: row;
        display: flex;
    }
    .nav-header nav .list li {
        width: 100%;
    }
    .nav-header .logo {
        justify-content: center;
        align-self: center;
        align-items: center;
    }
    .navToggle {
        display: none;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    .nav-header {
        height: 56px;
        flex-direction: row;
        padding: 0 16px;
    }
    .nav-header nav .list {
        flex-direction: row;
        display: flex;
    }
    .navToggle {
        display: none;
    }
}
