$base__bgcolor: #222
$base__color: #666
$base__font-family-fallback: sans-serif
$base__font-family: Open Sans
$base__font-size: .875rem
$base__font-weight: 400

$form--login__border-radus: 4px
$form--login__color: #fff
$form--login__label__bgcolor: #00b4ff
$form--login__input__bgcolor: #333
$form--login__input__bgcolor--hover: #444
$form--login__submit__bgcolor: #00b4ff
$form--login__submit__bgcolor--hover: #008fcc
$form--login__submit__color: #eee

$loginbox_width: 30%
$a-color: #00b4ff
