@import url(css/normalize.css);
@import url(css/font-awesome.css);
@import url(css/bootstrap.css);
@import url(css/skeleton.css);
.nav {
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html, body {
  margin: 0;
  padding: 0;
}

.wrap-contain {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
